<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap rescap uap3">

  <Identity
    Name="VtuberMusic.App"
    Publisher="CN=VtuberMusic Developer"
    Version="2.0.3.0" />

  <Properties>
    <DisplayName>VtuberMusic</DisplayName>
    <PublisherDisplayName>VtuberMusic</PublisherDisplayName>
    <Logo>Assets\Icon\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="VtuberMusic"
        Description="DD 听歌软件"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Icon\Square150x150Logo.png"
        Square44x44Logo="Assets\Icon\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Icon\Wide310x150Logo.png"  Square71x71Logo="Assets\Icon\SmallTile.png" Square310x310Logo="Assets\Icon\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\Icon\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/>
          <uap:Rotation Preference="landscapeFlipped"/></uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <Capability Name="internetClient"/>
    <uap3:Capability Name="backgroundMediaPlayback"/>
  </Capabilities>
</Package>
